/* mobile first approach */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif, open-sans;
  font-size: 1.6rem;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #0a1550;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-width: 13%;
}

.hamburger-menu {
  font-size: 2.6rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 1500;
}

.hamburger-menu .fa-x {
  display: none;
}

.menu-open .hamburger-menu .fa-x {
  display: block;
}

.menu-open .hamburger-menu .fa-bars {
  display: none;
}

/* ul */
.nav-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #0a1550;
  align-items: center;
  justify-content: center;
  z-index: 1400;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.menu-open .nav-list {
  opacity: 1;
  transform: scale(1);
}

/* li */
.nav-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* a */
.nav-link {
  display: block;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .logo img {
    max-width: 6%;
  }
}

@media screen and (min-width: 1000px) {
  .hamburger-menu {
    display: none;
  }

  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    flex-direction: row;
    justify-content: initial;
    opacity: 1;
    transform: scale(1);
  }

  .nav-item:not(:last-child) {
    margin-right: 3rem;
    margin-bottom: 0;
  }

  .nav-link {
    font-size: 1.3rem;
    font-weight: normal;
    transition: color 0.5s;
  }

  .nav-link:hover {
    color: #488eff;
  }

  .logo img {
    max-width: 6%;
  }
}
